.com-list {
    position: relative;
    width: 100%;
    .com-list-item {
        width: 100%;
        box-sizing: border-box;
        padding: 16px;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 1px 1px #eee;
        .title {
            font-size: 18px;
            overflow : hidden;
            text-overflow: ellipsis;
            white-space: normal;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .info {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding-top: 2px;
            p {
                max-width: 150px;
                font-size: 12px;
                padding-top: 2px;
                overflow : hidden;
                text-overflow: ellipsis;
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                color: #777;
            }
        }
        .list-img {
            width: 33%;
        }
    }
    .list-0 {
    }
    .list-1 {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .content {
            padding-right: 10px;
        }
    }
    .list-2 {
        .imgs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .list-img {
                width: 49%;
            }
        }
    }
    .list-3 {
        .imgs {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}